/* Reset básico para evitar conflictos con márgenes/paddings predeterminados */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Aseguramos que el body ocupe todo el alto de la pantalla */
body, html {
    height: 100%;
    font-family: Arial, sans-serif;
}

/* Diseño de la cabecera con flexbox */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #333;
}

.navbar ul {
    list-style-type: none;
    display: flex;
    font-size: 1.2rem; /* Adaptado para mejor visualización */
}

.navbar li {
    margin-right: 20px;
}

.navbar a {
    text-decoration: none;
    color: #15ff00;
}

/* Diseño de la sección hero con grid */
.hero {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    padding: 40px;
    align-items: center;
    background-color: #e0f7fa;
    min-height: 100vh; /* Asegura que ocupe todo el alto de la pantalla */
}

/* Diseño de los textos dentro de la sección hero */
.hero-text {
    padding: 20px;
    font-size: 2rem;
    text-align: center;
}
.hero-text h1 {
    font-size: 4rem; /* Ajusta el tamaño a lo que desees */
    font-weight: bold;
    color: #333;
    text-align: center;
}

.hero-text p {
    font-size: 1.5rem;
    margin-bottom: 40px;
    text-align: center;

}
.hero-text button {
    font-size: 1.2rem;
    padding: 10px 20px;
    background-color: #15ff00;
    border: none;
    color: #333;
    cursor: pointer;
}
.hero-image img,
.hero-image1 img {
    width: 100%; 
    height: 300px; 
    object-fit: cover; 
    border-radius: 30px; 
}


img {
    max-width: 100%;
    height: auto;
}
.features {
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
    background-color: #ffffff;
}
.feature {
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
    flex: 1;
}

.footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: #48ff00;
}

.logo img {
    width: 150px;
    height: auto;
}
.main-title {
    text-align: center;
    font-size: 6rem;
    color: #333;
    font-weight: bold;
}

@media screen and (max-width: 768px) {
    .hero {
        grid-template-columns: 1fr; /* Ajusta la hero para que sea de una sola columna */
        text-align: center;
    }
    .hero-text {
        font-size: 1.5rem; /* Reduce el tamaño del texto para móviles */
    }
    .hero-image, .hero-image1 {
        margin-top: 20px; /* Da un pequeño margen a las imágenes */
    }
    .features {
        flex-direction: column; /* Pone los elementos de la sección features en una columna */
        align-items: center;
    }
    .feature {
        margin-bottom: 20px; /* Da espacio entre cada feature */
    }
}
